* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 60%;
}

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #050505;
    overflow-x: hidden;
}

.header {
    height: 100vh;
    position: relative;
}

.navbar {
    height: 100px;
    width: 100%;
    background-color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    z-index: 10;
    position: fixed;
    border-bottom: solid 3px purple;
    border-top: 3px solid purple;
}

.navbar-box {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #050505;
}

.heading-tertiary {
    font-size: 3.5rem;
    color: #050505;
    letter-spacing: 1.5px;
    align-items: flex-start;
}

.navbar-list {
    list-style: none;
    font-size: 2.5rem;
}

.navbar-item {
    display: inline-block;
}

.navbar-link:visited,
.navbar-link:link {
    text-decoration: none;
    color: #050505;
    padding: 2rem;
    transition: all .2s ease;
}

.navbar-link:hover {
    background-color: purple;
    color: honeydew;
    border-radius: 200px;
}

.header-container {
    width: 100%;
    height: 100%;
    background-position: cover;
    color: honeydew;
    border-bottom: solid 3px purple;
}

.video {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .4);
    bottom: 0;
    right: 0;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    position: relative;
    z-index: -1;
}

.header-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: honeydew;
}

.heading-primary {
    font-size: 6.0rem;
    font-weight: 300;
    letter-spacing: 3px;
    margin-top: 22%;
}

#salon {
    color: purple;
    font-weight: 800;
    font-size: 8rem;
    opacity: 1;
    text-shadow: 0 .4rem 0.2rem honeydew;
}

.services {
    width: 100%;
    padding: 10rem 5rem;
    background-image: linear-gradient(to right bottom, #0d0e0d, rgb(15, 15, 15));
}

.services-heading {
    font-size: 6rem;
    text-align: center;
    text-shadow: 0 0 1rem rgba(0, 0, 0, .9);
    text-transform: uppercase;
    color: white;
    font-weight: 800;
    margin-bottom: 8rem;
}

.services-grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}

.heading-secondary {
    font-size: 6rem;
    text-transform: uppercase;
    color: honeydew;
    text-align: center;
}

.services-img {
    height: 50%;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-image: url(img/logo.damasjanne.png);
    opacity: 0.8;
}

.services-container {
    width: 100%;
    height: 50rem;
    background-color: honeydew;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    margin: 30px 0;
}

.services-container:hover {
    box-shadow: 0 0 5rem rgba(0, 0, 0, .4);
    transform: scale(1.1);
    transform: perspective(200px) translate(20px, 0, 100px);
}

.services-title {
    margin-top: 2rem;
    font-size: 4rem;
    text-align: center;
}

.services-p {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
}

.valores {
    font-size: 4rem;
    margin-top: 1rem;
    text-align: center;
    color: rgb(15, 15, 15);
}


/* CONTACT  */

.contact {
    padding: 15rem 10rem;
    width: 100%;
    background-size: cover;
}

.contact-content {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 3rem rgba(0, 0, 0, .9);
}

.left {
    background-color: rgb(15, 15, 15);
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px
}

.right {
    background-color: #050505;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

.right-img {
    height: 10rem;
    width: 10rem;
    position: absolute;
    top: -11;
    left: -11rem;
}

.contact-form {
    padding: 5rem;
    width: 100%;
}

.form {
    width: 100%;
    text-align: center;
    padding: 0;
    color: white;
}

.form-group {
    position: relative;
    padding: 2rem;
    width: 100%;
    color: white;
    font: 'Yanone Kaffeesatz', sans-serif;
}

.contact-heading {
    font-size: 4rem;
    margin: 0;
    color: white;
}

.contact-btn:visited,
.contact-btn:link {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #222121;
    background-color: transparent;
    color: white;
    outline: none;
    font-size: 3.4rem;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 1rem 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    transition: all 0.4s ease;
}

.contact-btn:hover {
    background-color: #050505;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .4);
    color: honeydew;
}

.input {
    width: 98%;
    outline: none;
    border: 5px solid #050505;
    background-color: #fff;
    height: 7rem;
    font-size: 2rem;
    border-radius: 1000px;
    text-indent: 5px;
    box-shadow: 0 01rem rgba(0, 0, 0, .4);
    padding: 1rem;
    transition: all .4s ease;
}

.input:focus {
    width: 100%;
}

.input:valid {
    border-left: 10px solid purple;
}

.input:invalid {
    border-left: 10px solid purple;
}

.textarea {
    resize: none;
    height: 15rem;
    border-radius: 40px;
    padding: 2rem;
}

.form-group label {
    position: absolute;
    top: 46px;
    left: 61px;
    font-size: 1.4rem;
    background-color: white;
    visibility: hidden;
    transition: top .4s ease, left .4s ease;
}

.input:focus~label {
    top: 11px;
    left: 61px;
    padding: 0 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .4);
    visibility: hidden;
    border-radius: 10px;
    visibility: visible;
    border-radius: 10px;
}

.input:focus::placeholder {
    color: transparent;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-evenly;
}

.maps-title {
    font-size: 4rem;
    color: honeydew;
    text-align: center;
    margin: 3rem;
}
/* QUEM SOMOS */

.quem-somos{
    text-align: justify;
    background-color: honeydew;
}
.quemsomos-heading {
    font-size: 6rem;
    text-align: center;
    text-shadow: 0 0 1rem rgb(0 0 0 / 90%);
    text-transform: uppercase;
    color: white;
    margin-bottom: 8rem;
    padding: 40px;
    margin: 40px;
    box-sizing: border-box;
    border-top: solid 4px purple;
}
.quemsomos-par {
    font-size: 4rem;
    padding: 1rem;
    text-align: center;
    color: honeydew;
}
.quemsomos-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .2);
    color: honeydew;
    padding-bottom: 50px;
    border-top: solid 4px purple;
    border-bottom: solid 3px purple;
    border-radius: 5px;
}
.quemsomos-grid {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4, 1fr);
    justify-self: center;
    grid-gap: 2rem;
}
.quemsomos-box{
    width: 100%;
    height: 50rem;
    background-color: honeydew;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 2rem rgb(0 0 0 / 20%);
    margin: 30px 0;
    border-top: solid 4px purple;
    border-bottom: solid 3px purple;
}
.quemsomos-img-j{
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-image: url(img/img-j-pexels.jpg);
    margin-bottom: 20px;
}
.quemsomos-img-m{
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-image: url(img/img-m-pexels.jpg);
    margin-bottom: 20px;
}
.quemsomos-img-ma{
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-image: url(img/img-ma-pexels.jpg);
    margin-bottom: 20px;
}
.quemsomos-img-a{
    height: 60%;
    width: 100%;
    background-size: cover;
    background-position: top;
    background-image: url(img/img-a-pexels.jpg);
    margin-bottom: 20px;
}
.quemsomos-title{
        font-size: 4rem;
        text-align: center;
}
.quemsomos-p{
        font-size: 2.5rem;
        padding: 1rem;
        text-align: center;
        color: #050505;
}
/* FOOTER */

footer{
    align-items: center;
    display: flex;
    background-color: #0d0e0d;
    padding: 40px 0px;
    flex-direction: column;
}
footer ul{
    display: flex;
    margin-bottom: 25px;
}
footer ul li{
    margin-right: 10px;
}
footer ul li a{
    color: purple;
    font-size: 4rem;
}
footer p{
    color: honeydew;
    text-align: center;
    font-size: 30px;
}